<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sul.server.mapper.AlcMapper">

	<select id="selectTotalAlcList" parameterType="java.util.Map" resultType="com.sul.server.vo.AlcVo">
	    SELECT A.ALC_NO, A.ALC_NM, A.CATE_NO, D.CATE_NM, A.FILE_NO, A.EXP_YN, C.FILE_NM, C.FILE_EXT, B.AVG_GRADE
	      FROM INFORMATION A
	      LEFT JOIN GRADE B
	        ON A.ALC_NO = B.ALC_NO
	      LEFT JOIN ALC_FILE C
	        ON A.FILE_NO = C.FILE_NO
	         , CATEGORY D
	     WHERE A.CATE_NO = D.CATE_NO
	      <if test="expYn == 'Y'" >
	            AND A.EXP_YN = 'Y'
	      </if>
	      <if test="expYn == null or expYn == '' or expYn == 'N'" >
	            AND A.EXP_YN = 'N'
	      </if>
	      <if test="alcNm != null and alcNm != ''" >
	            AND ALC_NM LIKE CONCAT('%', #{alcNm}, '%')
	      </if>
	      <if test="cateNo != null and cateNo != ''" >
	            AND CATE_NO = #{cateNo}
	      </if>
	</select>
	
	<select id="selectAlcDetail" parameterType="java.util.Map" resultType="com.sul.server.vo.AlcVo">
	    SELECT A.ALC_NO, A.ALC_NM, A.VOL, A.PRODUCTOR, A.DETAIL, A.EXP_YN, D.CATE_NM, C.FILE_NM, C.FILE_EXT, B.AVG_GRADE
	      FROM INFORMATION A
	      LEFT JOIN GRADE B
	        ON A.ALC_NO = B.ALC_NO
	      LEFT JOIN ALC_FILE C
	        ON A.FILE_NO = C.FILE_NO
	         , CATEGORY D
	     WHERE A.CATE_NO = D.CATE_NO
	       AND A.ALC_NO = #{alcNo}
	</select>

</mapper>